@base_val:12.8vw;
@phone_val:7.5vw;
@max_val:1px;
.roadmap {
  margin:120/@base_val;
  .roadmap_title {
    font-size: 0.4rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align:center;
  }
  .roadmap_content {
    position:relative;
    overflow:hidden;
    .processbar {
      width:5/@base_val;
      position:absolute;
      left:50%;
      top:0;
      bottom:0;
      transform: translate3d(-50%,0,0);
      background:#666;
      &::before {
        content:'';
        position:absolute;
        width:5/@base_val;
        height: 3*1.26+1rem;
        background: linear-gradient(180deg, #000000 0%, #36D2A8 100%);
        top:0
      }
      &::after {
        content:'';
        position:absolute;
        width:5/@base_val;
        height: 83/@base_val;
        background: linear-gradient(180deg, #666666 0%, #000000 100%);
        bottom:0;
      }
    }

    .timeline {
      padding-top: 0.77rem;
      .timeline_node {
        position:relative;
        height: 1.26rem;
        color: #666666;
        .time {
          font-size: 0.42rem;
          font-weight: 400;
        }
        .text {
            font-size: 0.22rem;
            font-weight: 400;
        }
        &:nth-of-type(2n){
          text-align:left;
          margin-left:50%;
          padding-left:50/@base_val;
          &::after {
            content:"";
            width:40/@base_val;
            height:40/@base_val;
            border-radius: 100%;
            background:#666;
            position:absolute;
            left:-20/@base_val;
            top:14/@base_val;
          }
          &.achieve{
            color: #fff;
            &::after {
              content:"";
              width:54/@base_val;
              height:54/@base_val;
              background:url(../../assets/images/btn_check.svg);
              background-size:100%;
              left:-27/@base_val;
              top:7/@base_val;
            }
          }
        }
        &:nth-of-type(2n+1){
          text-align:right;
          margin-right:50%;
          padding-right:50/@base_val;
          &::after {
            content:"";
            width:40/@base_val;
            height:40/@base_val;
            border-radius: 100%;
            background:#666;
            position:absolute;
            right:-20/@base_val;
            top:14/@base_val;
          }
          &.achieve{
            color:#fff;
            &::after {
              content:"";
              width:54/@base_val;
              height:54/@base_val;
              background:url(../../assets/images/btn_check.svg);
              background-size:100%;
              left:auto;
              right:-27/@base_val;
              top:7/@base_val;
            }
          }
        }
      }
    }
  }
    
}

@media screen and (max-width: 768px) {
    .roadmap {
        margin-top:4vw;
        .roadmap_title{
            font-size:6vw;
        }
        .roadmap_content {
          .processbar {
            &::before {
              height: 3*(126/@phone_val)+85/@phone_val;
            }
          }
          .timeline {
            padding-top: 77/@phone_val;
            .timeline_node {
              height: 126/@phone_val;
              .time {
                  font-size:4vw;
              }
              .text {
                  font-size:3vw;
                  line-height: 4.2vw;
              }
              &:nth-of-type(2n){
                padding-left:50/@phone_val;
                &::after {
                  width:40/@phone_val;
                  height:40/@phone_val;
                  left:-20/@phone_val;
                  top: 0;
                }
                &.achieve{
                  &::after {
                    width:54/@phone_val;
                    height:54/@phone_val;
                    left:-27/@phone_val;
                    top: -7/@phone_val;
                  }
                }
              }
              &:nth-of-type(2n+1){
                padding-right:50/@phone_val;
                &::after {
                  width:40/@phone_val;
                  height:40/@phone_val;
                  right:-20/@phone_val;
                  top: 0;
                }
                &.achieve{
                  &::after {
                    width:54/@phone_val;
                    height:54/@phone_val;
                    right:-27/@phone_val;
                    top: -7/@base_val;
                  }
                }
              }
            }
          }
        }
    } 
}

@media screen and (min-width:1280px){
  .roadmap {
    margin:120/@max_val;
    .roadmap_content {
      .processbar {
        width:5/@max_val;
        &::before {
          width:5/@max_val;
        }
        &::after {
          width:5/@max_val;
          height: 83/@max_val;
        }
      }
  
      .timeline {
        .timeline_node {
          &:nth-of-type(2n){
            padding-left:50/@max_val;
            &::after {
              width:40/@max_val;
              height:40/@max_val;
              left:-20/@max_val;
              
            }
            &.achieve{
              &::after {
                width:54/@max_val;
                height:54/@max_val;
                left:-27/@max_val;
              }
            }
          }
          &:nth-of-type(2n+1){
            padding-right:50/@max_val;
            &::after {
              width:40/@max_val;
              height:40/@max_val;
              right:-20/@max_val;
            }
            &.achieve{
              &::after {
                width:54/@max_val;
                height:54/@max_val;
                right:-27/@max_val;
              }
            }
          }
        }
      }
    }
      
  }
}