<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ZClub certification code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="background-color: #F2F2F2;padding:0;margin:0;font-family: Arial,sans-serif;color:#000;">
    <table style="max-width:750px;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:0;background:#fff;table-layout: fixed;border:0;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="text-align: left;">
                <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;width:100%;" src="https://zclub.app/emailimg/img_head_v3.png" alt="">
                <p style="font-size:100%;line-height:30px;font-weight: bold;margin:0;padding-top:20px;padding-left:0px;padding-right:35px;">Welcome to ZClub, please enter the confirmation code on the website:</p>
            </td>
        </tr>
        <tr>
            <td style="padding:0px;text-align:left;">
                <div style="text-align:center;font-size: 24px;font-weight: bold;margin:0;padding-top:0px;padding-bottom:10px;"><span style="background-color: #FFD633;padding:4px 20px;border-radius: 30px;">0000</span></div>
                <p style="font-size:100%;line-height:20px;font-weight: bold;margin:0;padding-bottom:20px;">We just need to confirm your email address before you can dive in and start Talk2Earn.</p>
            </td>
        </tr>
    </table>
</body>
    
</html>