
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta
      name="keywords"
      content="Leading audio-focused social app that enable users to earn revenue share"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta property="og:title" content="ZClub" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://zclub.app/" />
    <meta property="og:image" content="https://zclub.app/logo_small.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="ZClub" />
    <meta
      property="twitter:description"
      content="Leading audio-focused social app that enable users to earn revenue share"
    />
    <meta property="twitter:url" content="https://zclub.app" />
    <meta property="twitter:image" content="https://zclub.app/img_tweet.png" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/favicons/favicon.ico"
    />
    <title>ZClub</title>
  </head>
  <body>
    <script>
      window.location.href="https://zclub.app/airdrop/";
    </script>
  </body>
</html>