@import '~@/layouts/base.less';

input {
  border-radius: 0;
}

body,
nav,
footer,
div,
p,
a,
span,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  font-family: Arial-Black, Arial;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.main {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding-bottom:250/@base_val;
  z-index: 2;
}
.foot_content {
  height: 250/@base_val;
  background: #FFD53F;
  position:relative;
  margin-top:-250/@base_val;
  
  &::before{
    content: '';
    background: url(../../assets/images/img_foot_l.svg)  left center no-repeat;
    position: absolute;
    left:60/@base_val;
    top:13/@base_val;
    width:120/@base_val;
    height:226/@base_val;
  }
  &::after {
    content: '';
    background:url(../../assets/images/img_foot_r.svg)  right center no-repeat;
    position: absolute;
    right:60/@base_val;
    top:13/@base_val;
    width:120/@base_val;
    height:226/@base_val;
  }
  .icon_block {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    .icon_link { 
      .icon_twitter {
        width:80/@base_val;
        height:80/@base_val;
        margin-right: 60/@base_val;
      }
      .icon_discord {
        width:80/@base_val;
        height:80/@base_val;
      }
    }
    
  }
}

@media screen and (max-width: 768px) {
  .main {
  }
}
@media screen and (min-width:769px){html{font-size:60px}}
@media screen and (min-width:896px){html{font-size:70px}}
@media screen and (min-width:1024px){html{font-size:80px}}
@media screen and (min-width:1152px){html{font-size:90px}}
@media screen and (min-width:1280px){
  html{font-size:100px}
  .main{
    padding-bottom:250/@max_val;
  }
  .foot_content {
    height: 250/@max_val;
    margin-top:-250/@max_val;
    &::before{
      left:60/@max_val;
      top:13/@max_val;
      width:120/@max_val;
      height:226/@max_val;
    }
    &::after {
      right:60/@max_val;
      top:13/@max_val;
      width:120/@max_val;
      height:226/@max_val;
    }
    .icon_block {
      .icon_link { 
        .icon_twitter {
          width:80/@max_val;
          height:80/@max_val;
          margin-right: 60/@max_val;
        }
        .icon_discord {
          width:80/@max_val;
          height:80/@max_val;
        }
      }
    }
  }
}
