@base_val:12.8vw;
@phone_val:7.5vw;
@max_val:1px;
.wrap{
  margin: 0 auto;
}

.headbox {     
  .part01{
    background: linear-gradient(to bottom,#000000,#172752);
    position:relative;
    font-size: 0;
  
    .part01_back_img {
      display: block;
      margin: 0 auto;
      width: 1200/@base_val;
      height: 620/@base_val;
    }
    .part01_text {
        position:absolute;
        top:40/@base_val;
        left:50%;
        transform: translate3d(-50%,0,0);
        font-size: 0.4rem;
        font-weight: 400;
        color: #FFFFFF;
        white-space: nowrap;
        text-align:center;
    }
  }
  .part02 {
    margin:0 auto;
    position:relative;
    font-size: 0;
    .part02_back_img {
      display: block;
      margin: 0 auto;
      width: 1040/@base_val;
      height: 357/@base_val;
    }
  
    .part02_text {
      position:absolute;
      width: 868/@base_val;
      top:24/@base_val;
      left:50%;
      transform: translate3d(-50%,0,0);
      white-space: nowrap;
      font-size: 0.24rem;
      font-weight: 400;
      color: #FFFFFF;
      text-align:center;
      &:before {
        display:block;
        content:"";
        background:url(../assets/images/left.png) no-repeat;
        background-size:100%;
        position:absolute;
        top:-23/@base_val;
        left:-46/@base_val;
        width:40/@base_val;
        height:60/@base_val;
      }
      &:after{
        display:block;
        content:"";
        background:url(../assets/images/right.png) no-repeat;
        background-size:100%;
        position:absolute;
        right:-46/@base_val;
        bottom:-5/@base_val;
        width:62/@base_val;
        height:41/@base_val;
      }
    }
  }
}

.earnbox {
    position: relative;
    top:-46/@base_val;
    z-index: 2;
    .earn_title {
        font-size: 0.4rem;
        font-weight: 400;
        color: #FFFFFF;
        text-align:center;
    }
    .earn_img01 {
        display:block;
        width:820/@base_val;
        height:550/@base_val;
        margin:56/@base_val auto 0;
    }
    .earn_img02 {
      display:block;
      width:820/@base_val;
      height:380/@base_val;
      margin:80/@base_val auto 0;
  }
}

.burnbox {
  margin-top: 148/@base_val;
  .burn_title {
    font-size: 0.4rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align:center;
  }
  .burn_img {
    display: block;
    margin: 26/@base_val auto 0;
    width:1200/@base_val;
  }
}


.downbox {
    margin:300/@base_val auto 120/@base_val;
    .down_title {
      font-size: 0.4rem;
      font-family:Arial-Black, Arial;
      font-weight: 400;
      color: #FFFFFF;
      text-align:center;
    }
    .down_list {
      display:flex;
      justify-content: center;
      margin:50/@base_val auto 0;
      .down_item {
        line-height: 0;
        a{
          display:block;
        }
      }
      .down_item2 {
        font-size:0.2rem;
        width:360/@base_val;
        height: 90/@base_val;
        line-height: 1;
        background:#fff;
        box-sizing: border-box;
        a {
          text-decoration: none;
          color:#231f20;
          display:flex;
          justify-content: center;
          align-items: center;
          height:100%;
        }
      }
      .down_apple {
        width: 360/@base_val;
        height: 90/@base_val;
        margin-right: 60/@base_val;
      }
      .down_google{
        width: 360/@base_val;
        height: 90/@base_val;
        margin-right: 60/@base_val;
      }
      .down_apk {
        width: 70/@base_val;
        height: 60/@base_val;
        margin-right:15/@base_val;
      }
    }
}

.loading {
    height:60vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    img {
        display:block;
    }
}

@media screen and (max-width: 768px) {
  .headbox {
    .part01 {
      .part01_text {
        font-size:3.6vw;
        line-height: 4vw;
        height:10vw;
      }
    }
    .part02 {
      .part02_text {
        width: 700/@phone_val;
        font-size:2.4vw;
        line-height: 3.2vw;
        word-break: break-word;
        white-space: break-spaces;
        &::before{
          width:4.3vw;
          height:6.5vw;
          top:-1vw;
          left:-1.8vw;
        }

        &::after {
          width:6.8vw;
          height:4.3vw;
          right:-2vw;
          bottom:-1.1vw;
        }
      }
    }
  }
  .earnbox {
    .earn_title {
      font-size:6vw;
    }
  }
  .burnbox {
    margin-top:4vw;
    .burn_title {
      font-size:6vw;
    }
  } 

  .downbox {
    margin-top: 0;
    padding-top:10vw;
    .down_title {
      font-size:6vw;
    }
    .down_item2 {
      font-size:4vw;
    }
  } 
} 

@media screen and (min-width:1280px){
  .headbox {     
    .part01{
      .part01_back_img {
        width: 1200/@max_val;
        height: 620/@max_val;
      }
      .part01_text {
          top:40/@max_val;
      }
    }
    .part02 {
      .part02_back_img {
        width: 1040/@max_val;
        height: 357/@max_val;
      }
    
      .part02_text {
        width: 868/@max_val;
        top:24/@max_val;
        &:before {
          top:-23/@max_val;
          left:-46/@max_val;
          width:40/@max_val;
          height:60/@max_val;
        }
        &:after{
          right:-46/@max_val;
          bottom:-5/@max_val;
          width:62/@max_val;
          height:41/@max_val;
        }
      }
    }
  }
  
  .earnbox {
      top:-46/@max_val;
      .earn_img01 {
          width:820/@max_val;
          height:550/@max_val;
          margin:56/@max_val auto 0;
      }
      .earn_img02 {
        width:820/@max_val;
        height:380/@max_val;
        margin:80/@max_val auto 0;
    }
  }
  
  .burnbox {
    margin-top: 148/@max_val;
    .burn_img {
      margin: 26/@max_val auto 0;
      width:1200/@max_val;
    }
  }
  
  
  .downbox {
      margin:300/@max_val auto 120/@max_val;
      .down_list {
        margin:50/@max_val auto 0;
        .down_item {
          line-height: 0;
          a{
            display:block;
          }
        }
        .down_item2 {
          font-size:0.2rem;
          width:360/@max_val;
          height: 90/@max_val;
          line-height: 90/@max_val;
          background:#fff;
          box-sizing: border-box;
          a {
            text-decoration: none;
            color:#231f20;
            display:flex;
            justify-content: center;
            align-items: center;
            height:100%;
          }
        }

        .down_apk {
          width: 70/@max_val;
          height: 60/@max_val;
          margin-right:15/@max_val;
        }
        .down_apple {
          width: 360/@max_val;
          height: 90/@max_val;
          margin-right: 60/@max_val;
        }
        .down_google{
          width: 360/@max_val;
          height: 90/@max_val;
        }
      }
  }
}