.main {
    padding-bottom:100px;
}

.headbox {
    font-family: ArchivoBlack-Regular, 'Archivo Black';
    position:relative;
    > img {
        width:100%;
    }
    h2 {
        height: 52px;
        font-size: 40px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 52px;
        position:absolute;
        left:50%;
        top:28%;
        transform: translate3d(-50%,0,0);
    }
    p {
        font-size: 40px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 52px;
        white-space: nowrap;
        position:absolute;
        left:50%;
        top:50%;
        transform: translate3d(-50%,0,0);
        text-align:center;
    }
}
.introduce {
    max-width:960px;
    margin:0 auto;
    font-family: ArchivoBlack-Regular, 'Archivo Black';
    position:relative;
    padding-top:60px;
    padding-bottom:30px;
    margin-top:-1px;

    &::after {
        content: '';
        background:url(../../assets/images/icon_window.svg) no-repeat;
        height:37vw;
        width:10vw;
        position:absolute;
        right:-5vw;
        top:-10vw;
    }

    h3 {
        font-size: 40px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 52px;
        padding-top:30px;
        padding-bottom:30px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 32px;
        padding-bottom:30px;
    }
}

.info {
    > img {
        display:block;
        width:100%;
    }
}

.detail {
    max-width:960px;
    margin:0 auto;
    font-family: ArchivoBlack-Regular, 'Archivo Black';
    ul {
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            padding-bottom:100px;
            > img {
                display:block;
            }
            .context {
               h5 {
                font-size: 40px;
                font-weight: 400;
                color: #FFFFFF;
                line-height: 52px;
                padding-bottom:20px;
               } 
               p {
                font-size: 20px;
                font-weight: 400;
                color: #FFFFFF;
                line-height: 32px;
               }
            }

            &:nth-of-type(1){
                >img {
                    margin-left:32px;
                }
            }
            &:nth-of-type(2){
                >img {
                    margin-right:32px;
                }
            }
            &:nth-of-type(3){
                >img {
                    margin-left:48px;
                }
            }
        }
    }
}

.tips {
    padding-top:32px;
    padding-bottom:32px; 
    background: #FFD53F;
    p {
        font-size: 30px;
        font-family: ArchivoBlack-Regular, 'Archivo Black';
        font-weight: 400;
        color: #000000;
        line-height: 32px;
        text-align:center;
        max-width: 1126px;
        margin:0 auto;
    }
}
.system {
    font-family: ArchivoBlack-Regular, 'Archivo Black';
    max-width:960px;
    margin:0 auto;
    overflow:hidden;
    > h3 {
        font-size: 40px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 52px;
        text-align:center;
        padding-top:38px;
        padding-bottom:38px;
    }
    > ul {
        display: flex;
        list-style-type: none;
        li {
            flex:1;
            display: flex;
            align-items: center;
            img {
                margin-right:10px;
            }
            p {
                font-size: 24px;
                font-weight: 400;
                color: #FFFFFF;
                line-height: 32px;
            }
        }
    }
    > img {
        display:block;
        width:100%;
        margin-top:76px;
        margin-bottom:76px;
    }
}

.tokenomics{
    font-family: ArchivoBlack-Regular, 'Archivo Black';
    max-width:960px;
    margin:0 auto;
    overflow:hidden;
    > h3 {
        font-size: 40px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 52px;
        text-align:center;
        padding-top:40px;
        padding-bottom:58px;
    }

    > img {
        display:block;
        width:100%;
        margin-bottom:4px;
    }
}

.burnbox {
    margin-top:78px;
    position:relative;
    > h3 {
        height: 52px;
        font-size: 40px;
        font-family: ArchivoBlack-Regular, 'Archivo Black';
        font-weight: 400;
        color: #FFFFFF;
        line-height: 52px;
        text-align:center;
        z-index:1;
        padding-top:20px;
        padding-bottom:20px;
    }
    > img {
        display: block;
        width:100%;
    }

    .burnleft {
        position:absolute;
        bottom:35%;
        right:84vw;
        > span {
            position:absolute;
            width:17vw;
            height:5vw;
            border-bottom:1px solid #fff;
            border-left:1px solid #fff;

            &::after {
                content:"";
                width:9px;
                height:9px;
                background:#fff;
                display:block;
                position:absolute;
                right:-9px;
                bottom:-5px;
            }
        }
        .burntxt {
            position:absolute;
            bottom:-110%;
            left:-8vw;
            >div {
                padding-bottom:15px;
                > img {
                    vertical-align: bottom;
                    display:inline-block;
                    margin-right:5px;
                    &:nth-of-type(1){
                        width:36px;
                        height:50px;
                    }
                    &:nth-of-type(2){
                        width:84px;
                        height:33px;
                    }
                    &:nth-of-type(3){
                        width:87px;
                        height:33px;
                    }
                }
            }
            
            ul {
                list-style-type: none;
                li {
                    font-size: 24px;
                    font-family: ArchivoBlack-Regular, 'Archivo Black';
                    font-weight: 400;
                    color: #FFFFFF;
                    line-height: 31px;
                    white-space: nowrap;
                }
            }
        }
    }

    .burnright {
        position:absolute;
        top:41%;
        left:45vw;
        > span {
            &:nth-of-type(1){
                position:absolute;
                width:22vw;
                height:10vw;
                border-top:1px solid #fff;
                border-left:1px solid #fff;
            }
            &:nth-of-type(2){
                position:absolute;
                width:10vw;
                height:5vw;
                left:12vw;
                border-top:1px solid #fff;
                border-left:1px solid #fff;
            }
            

            &::after {
                content:"";
                width:9px;
                height:9px;
                background:#fff;
                display:block;
                position:absolute;
                left:-5px;
                bottom:-10px;
            }
        }
        .burntxt {
            position:absolute;
            top:-2vw;
            left:24vw;
            >div {
                padding-bottom:15px;
                white-space: nowrap;
                > img {
                    vertical-align: bottom;
                    display:inline-block;
                    margin-right:5px;
                    &:nth-of-type(1){
                        width:36px;
                        height:50px;
                    }
                    &:nth-of-type(2){
                        width:84px;
                        height:33px;
                    }
                    &:nth-of-type(3){
                        width:87px;
                        height:33px;
                    }
                }
            }
            
            ul {
                list-style-type: none;
                li {
                    font-size: 20px;
                    font-family: ArchivoBlack-Regular, 'Archivo Black';
                    font-weight: 400;
                    color: #FFFFFF;
                    line-height: 48px;
                    white-space: nowrap;
                }
            }
        }
    }
}

.dist {
    max-width: 1200px;
    margin:0 auto;
    > h3 {
        height: 52px;
        font-size: 40px;
        font-family: ArchivoBlack-Regular, 'Archivo Black';
        font-weight: 400;
        color: #FFFFFF;
        line-height: 52px;
        text-align:center;
        padding-top:130px;
        padding-bottom:20px;
    }
    > div {
        height:400px;
        > div {
            width:100%;
            height:100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .headbox {
        h2 {
            font-size:5vw;
        }
        p {
            font-size:4vw;
            line-height:4.2vw;
        }
    } 
    .introduce {

        &::after {
            right:0px;
        }
        h3 {
            font-size:4.6vw;
            padding-left:10vw;
            padding-bottom:4vw;
        }
        p {
            font-size:2.6vw;
            line-height: 2.8vw;
            padding-bottom:2vw;
            padding-left:10vw;
            padding-right:10vw;
        }
    } 

    .detail {
        ul {
            li {
                padding-left: 5vw;
                padding-right: 5vw;
                .context {
                    h5 {
                        font-size:5vw;
                        line-height: 5.2vw;
                        padding-bottom:2vw;
                    }
                    p {
                        font-size:2.6vw;
                        line-height: 2.8vw;
                    }
                }

                img {
                    width:40vw;
                }
            }
        }
    } 

    .tips {
        p {
            font-size:4vw;
            line-height: 4.2vw;
            padding-left:5vw;
            padding-right:5vw;
        }
    }
    .system {
        > h3 {
            font-size:6vw;
        }
        ul {
            li {
                img {
                    width:15vw;
                }

                p {
                    font-size:2.2vw;
                    line-height: 2.4vw;
                }
            }
        }
    }

    .tokenomics {
        > h3 {
            font-size:6vw;
            padding-top:0;
        }
    }
    .burnbox {
        margin-top:4vw;
        > h3 {
            font-size:6vw;
        }
    } 
    .dist {
        padding-bottom:10vw;
        > h3 {
            font-size:6vw;
            padding-top:10vw;
        }

    }
}