@phone_val:7.5vw;
@base_val:12.8vw;
@max_val:1px;

body,nav,footer,div,p,a,span,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5 {
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #000000;
  font-family: Arial-Black, Arial;
  color: #FFFFFF;
}

.head_content {
  padding: 0 30/@base_val;
  height: 110/@base_val;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0;
  .menu {
    display:none;
  }
  
  .logo_link {
    width:94/@base_val;
    height:80/@base_val;
    img {
      display:block;
      width:100%;
    }
  }
  .nav_block {
    height: 100%;
    .nav_list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav_item {
        .nav_link {
          font-size: 0.2rem;
          font-weight: 900;
          color: rgba(255, 255, 255, 0.6);;
          margin-right: 30/@base_val;
          text-decoration: none;
          &:hover {
            color:#fff;
          }
          &.active {
            color:#fff;
          }
        }
        .referral {
          display:inline-flex;
          height:40/@base_val;
          border:2px solid #FFD53F;
          margin-left: 42/@base_val;
          padding-left:50/@base_val;
          padding-right:6/@base_val;
          color:#FFD53F;
          align-items: center;
          cursor: pointer;
          text-decoration: none;
          position:relative;
          font-size: 0.2rem;
          font-weight: 900;
          &:before {
            content: '';
            position:absolute;
            left:-2/@base_val;
            top:-6/@base_val;
            background:url('../assets/images/invite/icon_invite.png') no-repeat center center;
            background-size:100%;
            width:44/@base_val;
            height:44/@base_val;
          }
        }

        .airdrop {
          display:inline-flex;
          height:40/@base_val;
          border:2px solid #FFD53F;
          margin-left: 28/@base_val;
          padding-left:42/@base_val;
          padding-right:6/@base_val;
          color:#FFD53F;
          align-items: center;
          cursor: pointer;
          text-decoration: none;
          position:relative;
          font-size: 0.2rem;
          font-weight: 900;
          &:before {
            content: '';
            position:absolute;
            left:-2/@base_val;
            top:-6/@base_val;
            background:url('../assets/images/airdrop/airdrop.png') no-repeat center center;
            background-size:100%;
            width:44/@base_val;
            height:44/@base_val;
          }
        }        
      }
    }
  }
  .space{
    display: none;
  }
}

.foot_content {
  height: 250/@base_val;
  background: #FFD53F;
  position:relative;
  &::before{
    content: '';
    background: url(../assets/images/img_foot_l.svg)  left center no-repeat;
    position: absolute;
    left:60/@base_val;
    top:13/@base_val;
    width:120/@base_val;
    height:226/@base_val;
  }
  &::after {
    content: '';
    background:url(../assets/images/img_foot_r.svg)  right center no-repeat;
    position: absolute;
    right:60/@base_val;
    top:13/@base_val;
    width:120/@base_val;
    height:226/@base_val;
  }
  .icon_block {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    .icon_link { 
      .icon_twitter {
        width:80/@base_val;
        height:80/@base_val;
        margin-right: 60/@base_val;
      }
      .icon_discord {
        width:80/@base_val;
        height:80/@base_val;
      }
    }
    
  }
}

@media screen and (max-width: 768px) {
  html{font-size:60px}
  body {
    overflow-x: hidden;
  }
  .head_content {
    height: 110/@phone_val;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:9;
    .menu {
      display:block;
      width:50/@phone_val;
      height:50/@phone_val;
      background:url(../assets/images/icon_menu.png) no-repeat center center;
      background-size:100%;
    }
    .logo_link {
      width:100/@phone_val;
      height:85/@phone_val;
      display:block;
      font-size: 0;
    }
    .nav_block {
      display:none;
      position:absolute;
      z-index:99;
      left:0;
      top:13.5vw;
      background:rgba(0, 0, 0, 0.8);
      height: auto;
      width: 250/@phone_val;
      .nav_list {
        display:block;
        padding:0;
        margin:0;
        .nav_item {
          padding:0;
          height:10vw;
          text-align: left;
          display: flex;
          align-items: center;
          .nav_link {
            display:block;
            color: rgba(255, 255, 255, 0.6);
            height:10vw;
            line-height: 10vw;
            padding:0;
            font-size:4vw;
            text-align: left;
            padding-left:4vw;
          }
          .referral {
            height:6vw;
            line-height: 6vw;
            font-size:3.6vw;
            padding-left:9vw;
            padding-right:1vw;
            margin-left:4vw;
            border:0.5vw solid #FFD53F;
            vertical-align: top;
            &:before {
              content: '';
              position:absolute;
              left:0px;
              top:-2vw;
              background:url('../assets/images/invite/icon_invite.png') no-repeat center center;
              background-size:100%;
              width:8vw;
              height:8vw;
            }
          }
          .airdrop {
            height:6vw;
            margin-left:4vw;
            line-height: 6vw;
            font-size:3.6vw;
            padding-left:9vw;
            padding-right:1vw;
            border:0.5vw solid #FFD53F;
            vertical-align: top;
            &:before {
              content: '';
              position:absolute;
              left:0px;
              top:-1vw;
              background:url('../assets/images/airdrop/airdrop.png') no-repeat center center;
              background-size:100% 100%;
              width:6.6vw;
              height:8vw;
            }
          }
        }
      }
    }
    .space{
      display: block;
      width:50/@phone_val;
      height:50/@phone_val;
    }
    &.barAct {
      .nav_block {
        display: block;
      }
    }
  }
  
}

@media screen and (min-width:769px){html{font-size:60px}}
@media screen and (min-width:896px){html{font-size:70px}}
@media screen and (min-width:1024px){html{font-size:80px}}
@media screen and (min-width:1152px){html{font-size:90px}}
@media screen and (min-width:1280px){
  html{font-size:100px}
  .head_content {
    margin: auto;
    width: 1280/@max_val;
    padding: 0 30/@max_val;
    height: 110/@max_val;
    .logo_link {
      width:94/@max_val;
      height:80/@max_val;
    }
    .nav_block {
      .nav_list {
        .nav_item {
          .nav_link {
            margin-right: 30/@max_val;
          }
          .referral {
            height:40/@max_val;
            margin-left: 42/@max_val;
            padding-left:50/@max_val;
            padding-right:6/@max_val;
            &:before {
              left:-2/@max_val;
              top:-6/@max_val;
              width:44/@max_val;
              height:44/@max_val;
            }
          }
  
          .airdrop {
            height:40/@max_val;
            margin-left: 28/@max_val;
            padding-left:42/@max_val;
            padding-right:6/@max_val;
            &:before {
              left:-2/@max_val;
              top:-6/@max_val;
              width:44/@max_val;
              height:44/@max_val;
            }
          }        
        }
      }
    }
  }
  
  .foot_content {
    height: 250/@max_val;
    &::before{
      left:60/@max_val;
      top:13/@max_val;
      width:120/@max_val;
      height:226/@max_val;
    }
    &::after {
      right:60/@max_val;
      top:13/@max_val;
      width:120/@max_val;
      height:226/@max_val;
    }
    .icon_block {
      .icon_link { 
        .icon_twitter {
          width:80/@max_val;
          height:80/@max_val;
          margin-right: 60/@max_val;
        }
        .icon_discord {
          width:80/@max_val;
          height:80/@max_val;
        }
      }
    }
  }
}